@charset "utf-8";
 body {
     font-family: var(--font-family)!important;
     padding: 0;
     margin: 0;
     scroll-behavior: smooth;
}
 img {
     border: 0;
     max-width: 100%;
}
 h1, h2, h3, h4, h5, h6, li, p, ul {
     margin: 0;
     padding: 0;
     list-style-type: none 
}
 .clear {
     clear: both;
     line-height: 0;
     font-size: 0 
}
 button, input[type=button], input[type=email], input[type=search], input[type=submit], 
 input[type=text], select, textarea {
     -webkit-appearance: none;
     -webkit-border-radius: 0 
}
 * {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
     -webkit-box-sizing: border-box 
}
 , :after, :before {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box 
}
 :root {
     --font-family: "Lekton", monospace;
     --heading-font:"Lateef", serif;
     --heading-color:#1c5d68;
     --background-color: #f5f5f5;
     --button-color: #e7672d;
     --white-color: #ffffff;
     --black-color: #000000;
     --orange-color:#e7672d;
}
.banner-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slide {
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    object-fit: cover;
  }
  
  .slide-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    max-width: 565px;
   
  }
  
  .slide-content h2 {
    font-size: 4.875rem;
    font-family: var(--heading-font);
    color: #000000;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 5rem;
    padding-bottom: 10px;
    text-align: left;
    margin:0;
  }
  .slide-content h5 {
     font-size: 18px;
     color: #000;
     padding-bottom: 10px;
     text-transform: uppercase;
     margin:0;

  }
  
  .slide-content p {
    font-family: var(--heading-font);
    color: #000000;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 15px;
  }
  
  /* Mobile Responsive */
  @media (max-width: 768px) {
    .slide-image {
      height: 250px;
    }
  
    .slide-content h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
    }
  
    .slide-content p {
      font-size: 1rem;
    }
  }
.banner-slider .slick-next{
    right: 13px;
    z-index: 999;
}
.banner-slider .slick-prev{
    left: 0;
    z-index: 999;
}
.banner-slider .slick-prev:before{
    font-size: 32px;
    color: #000;
}
.banner-slider .slick-next:before{
    font-size: 32px;
    color: #000;
}
.comm-btn {
    border: 1px solid #000;
    padding: 6px 30px;
    text-align: center;
    font-size: 23px;
    color: #000000;
    /* display: block; */
    text-decoration: none;
    text-transform: uppercase;
}
.comm-btn:hover{
  border: 1px solid #000;
  background:#000 ;
  color: #fff;
}

.multi-carousel {
    padding:30px 0;
  }
  
  .carousel-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .carousel-item {
    padding: 10px;
    text-align: center;
  }
  
  .carousel-item img {
    border: 1px solid #000;
    text-align: center;
    padding: 5px 50px;
  }
  
  .carousel-item p {
    margin-top: 10px;
    font-size: 1rem;
  }
  .multi-carousel .slick-dots li button:before{
    font-size: 12px;
  }
  .multi-carousel .slick-dots{
    bottom: -40px;
  }
  .multi-carousel .slick-dots li{
    margin:0;
  }
  .heading-con{
    width: 100%;
    padding: 40px 0 20px;
    text-align:center;
  }
  .heading-con h3{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .heading-con h2{
    font-family: var(--heading-font);
    font-size: 54px;
    font-weight: 300;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  .why-choose{
    width: 100%;
    padding: 60px 0;
  }
  .why-choose h3 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 0;
}
.why-choose h2 {
  font-family: var(--heading-font);
  font-size: 54px;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.why-choose p {
  font-family: var(--heading-font);
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  padding: 0 40px;
  margin: 0;
}
.why-btn{
  margin: 20px 40px 0;
  display: inline-block;
}
.img-box {
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin:0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icon-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-box:hover .icon-container {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  width: 28px;
  height: 28px;
  background: #d5d5d5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.icon i {
  color: grey!important;
  transition: color 0.3s ease;
  font-size: 10px;
}

.icon.active {
  background-color: #FCCA01;
}

.icon.active i {
  color: black;
}

.star-ratting{
  margin:0;
  padding: 0;
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.star-ratting li{
 list-style: none;
 color: #FCCA01;
 font-size: 12px;
}
.price-box{
  width: 100%;
  margin:0 10px;
}
.price-box h4{
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 32px;
  color: var(--black-color);
  padding: 0;
  margin:0;
}
.describ-text{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 16px;
  color: var(--black-color);
  padding: 0;
  margin:0;
  line-height: 19px;
}
.price-text{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 32px;
  color: var(--black-color);
  padding: 0;
  margin:0;
  line-height: 38px;
}

.trending-slider .slick-next:before {
  background-image: url('../assets/Next-btn.png'); 
  width: 100px;
  background-size: 100%;
    background-repeat: no-repeat;
    font-size: 0px;
    position: absolute;
    width: 50px;
    height: 50px;

}
.trending-slider .slick-prev:before {
  background-image: url('../assets/Prev-btn.png'); /* now it works */
  width: 100px;
  background-size: 100%;
    background-repeat: no-repeat;
    font-size: 0px;
    position: absolute;
    width: 50px;
    height: 50px;

}

.trending-slider .slick-prev, .trending-slider .slick-next{
  top: 24% !important;
  z-index: 999;
  right: 25px;
}
.trend-box h3{
  text-align: left;
}
.trend-box h2{
  font-size: 78px;
  text-align: left;
  line-height: 78px;
}
.trend-box p{
  padding: 0;
}
.review-area{
  width: 100%;
  margin-bottom: 50px;
}

.review-box{
  padding: 20px!important;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
}
.review-box p{
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
.review-date {
    font-size: 14px!important;
    font-weight: 600!important;
}
.rive-img{
  width: 100%;
}
.rive-img img{
  width: 100%;
  height: 100%;
}
.w-45 {
  width: 45px;
}
.cus-img {
  width: 60px;
  margin-bottom: 10px;
}
footer{
  width: 100%;
  padding: 40px 0 0;
  background: #FAF5F0;
}
.bottom-ftr{
  border-top:1px solid #d7d7d7;
  padding: 10px 0;
  text-align: center;
}
.bottom-ftr p{
  font-size: 14px;
  padding: 0;
  margin:0;
}
footer h2{
  font-family: var(--heading-font);
  color: var(--black-color);
  font-size: 28px;
  text-align: left;
  margin: 0;
  padding: 0;
}
footer ul{
  margin:0;
  padding: 0;
}
footer ul li{
  list-style: none;
}
footer ul li a{
  list-style: none;
  font-family: var(--heading-font);
  color: var(--black-color);
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

footer p{
  font-family: var(--heading-font);
  color: var(--black-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 0;
    margin: 0;
}
footer p a{
  color: var(--black-color);
  text-decoration: none;
}
.inner-banner{
  background: url(../assets/inner-banner.jpg) top center no-repeat;
  background-size: 100%;
  padding: 40px 0;
}
.inner-banner h1{
  font-size: 48px;
  color: var(--white-color);
  font-family: var(--heading-font);
  font-weight: 300;
  text-align: center;
}
.inner-banner ul{
  margin:0;
  padding: 0;
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
  
}
.inner-banner ul li{
  font-size: 16px;
  color: var(--white-color);
  list-style: none;
}
.inner-banner ul li a{
  font-size: 16px;
  color: var(--white-color);
  text-decoration: none;
}
.middle-sec{
  width: 100%;
  padding: 60px 0;
}
.sort-by {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.sort-by p{
  padding: 0;
  margin:0;
  font-size: 20px;
  font-family: var(--heading-font);
  color: var(--black-color);
}
.sort-text {
  border: 1px solid #949393;
  padding: 5px 15px;
  font-size: 15px;
  color: #949393;
  width: 30%;
  position: relative;
}
.sort-text::after{
    content: "";
    background: url('../assets/Search.png') no-repeat;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
}
.search-box {
  position: relative;
  width: 300px;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 7px 40px 7px 15px;
  /* border-radius: 30px; */
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.search-box input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-box .search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  pointer-events: none;
}
.filter-box {
  width: 100%;
  border: 1px solid #949393;
  padding: 10px 15px;
  margin-bottom: 30px;
}
.filter-box h3{
  font-family: var(--heading-font);
  color: var(--black-color);
  font-size: 24px;
  border-bottom: 1px solid #949393;
  padding: 10px 0;
  text-transform: uppercase;
}
.filter-box ul{
  margin:0;
  padding: 0;
}
.filter-box ul li{
  list-style: none;
  padding-bottom: 6px;
  display: block;
}
.filter-box ul li a{
 font-size: 16px;
 font-family: var(--heading-font);
 color: var(--black-color);
 font-weight: 300;
 text-decoration: none;
}
.filter-box ul li a:hover{
  color: #FCCC67;
  text-decoration: none;
 }




.price-filter {
  padding: 20px;
  max-width: 300px;
}

.price-filter h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.range-slider {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.range-slider input[type="range"] {
  width: 100%;
  cursor: pointer;
  appearance: none;
  background: #000000;
  height: 6px;
  border-radius: 3px;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #FCCC67;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}
.product-slide .slick-dots li{
  width: 80px;
  height: 80px;
  border: 1px solid #B8B8B8;
  margin: 0 10px;
}
.product-slide .slick-dots{
  bottom: -100px;
}
.product-slide .slick-slide{
  border: 1px solid #B8B8B8;
}
.Product-Details h2{
  font-size: 2.5rem;
  font-family: var(--heading-font);
  color: var(--black-color);
  font-weight: 400;
  margin:0;
  text-align: left;
}
.Product-Details p{
  font-size: 1.25rem;
  font-family: var(--heading-font);
  color: #414141;
  font-weight:300;
  margin:0;
}
.Product-Details h3{
  font-size: 2.3rem;
  font-family: var(--heading-font);
  color: var(--black-color);
  font-weight: 400;
}
.descrip{
  font-family: var(--heading-font)!important;
  color: #000000!important;
  font-weight:600!important;
  margin:0;
  text-transform: uppercase;
}
.descrip span{
  color: #F3C200;
}
.green-text{
  color: #0B7F02!important;
}
.Product-Details h4{
  font-size: 1.5rem;
  font-family: var(--heading-font);
  color: var(--black-color);
  font-weight: 400;
}
.quantity-wrapper {
  display: flex;
  align-items: center;
  max-width: 102px;
  border:1px solid #BEBEBE;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: none;
  border:none;
}

.quantity-input {
  font-size: 16px;
    padding: 4px;
    border: none;
}
.crt-btn{
  background: #161010;
  padding: 8px 40px;
  font-family: var(--heading-color);
  color: var(--white-color);
  border:none;
}
.crt-btn:hover{
  background: #FCCA01;
}
.buy-now-btn{
  background: #fff;
  border: 1px solid #161010!important;
  padding: 8px 40px;
  font-family: var(--heading-color);
  color: var(--black-color);
  border:none;
}
.buy-now-btn:hover{
  background: #FCCA01;
  border: 1px solid #FCCA01!important;
  color: var(--white-color);
}
.wishlist {
  width: 46px;
  height: 46px;
  border: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grey-text{
  color: #646363!important;
}
.social-icon img{
  filter: grayscale(100%);
  transition: filter 0.4s ease;
}
.social-icon img:hover{
  filter: grayscale(0);
  transition: filter 0.4s ease;
  cursor: pointer;
}
.describ-tab {
  width: 100%;
  padding: 70px 0 50px;
}
.describ-tab .nav-tabs{
  background: #E4E4E4;
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.describ-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #FCCA01 !important;
  background: none !important;
  border: none;
}
.describ-tab .nav-tabs .nav-link{
  border: none;
  font-family: var(--heading-font);
  color: #5C5C5C;
  font-size: 24px;
  font-weight: 400;

}
.productTabContent{
  width: 100%;
  margin-top: 16px;
}
.productTabContent h4{ 
  font-family: var(--heading-font);
  color: var(--black-color);
  font-size: 24px;
  padding-bottom: 15px;
  margin: 0;
}
.productTabContent p{
  font-family: var(--heading-font);
  color: #4F4F4F;
  font-size: 16px;
  padding-bottom: 15px;
  font-weight: 300;
  margin: 0;
}
.specification-list{
  margin: 0;
  padding: 0;
}
.specification-list li{
  font-family: var(--heading-font);
  color: #4F4F4F;
  font-size: 20px;
  padding-bottom: 6px;
  font-weight: 400;
}
.line-tab {
  width: 45px;
  height: 2px;
  background: #000;
}
.star-rating{
  color: #FCCA01;
}

.reviewer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.review-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.review-date{
  font-size: 14px;
  font-weight: 600;
}
.quantity-input{
  border:none!important;
}

/* ThankYouPage.css */
.thank-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ffe4e6, #fef9c3);
  padding: 80px 0;
}
.thank-you-page{
  padding: 80px 0;
}

.thank-box {
  background: white;
  margin:0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  text-align: center;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.thank-box img {
  width: 80px;
  margin-bottom: 1rem;
}

.thank-box h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #1f2937;
}

.thank-box p {
  color: #4b5563;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.thank-button {
  background-color: #ec4899;
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.thank-button:hover {
  background-color: #db2777;
}
.border-top2{
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  text-align: center;
}
.wishlist-page{
  padding: 50px 0;
}
.wishlist-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.wishlist-item {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 254px;
  width: 100%;
}
.wishlist-item img {
  width: 100%;

}
.wishlist-item button {
  background-color: #FCCA01;
  color: var(--black-color);
  border: none;
  padding: 6px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.wishlist-icon {
  position: relative;
}

.wishlist-badge {
  position: absolute;
    top: -7px;
    right: -10px;
    background: #FCCA01;
    color: #000;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: 700;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hdr-icon {
  width: 22px;
}

.popup-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FCCA01;
  color: #333;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  font-weight: 600;
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; transform: translateX(-50%) translateY(0); }
  100% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
}
.cart-badge, .wishlist-badge {
  position: absolute;
    top: -7px;
    right: -10px;
    background: #FCCA01;
    color: #000;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: 700;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons {
  position: relative;
}
.cart-icon, .wishlist-icon {
  position: relative;
}
.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
    top: -7px;
    right: -10px;
    background: #FCCA01;
    color: #000;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: 700;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-page {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}
.cart-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
}

.cart-left {
  flex: 2;
  min-width: 300px;
}

.cart-right {
  flex: 1;
  min-width: 250px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background: #fafafa;
  height: fit-content;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.remove-btn {
  background-color: #e74c3c;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.summary-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-btn {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #219150;
}
.range-slider input[type="range"] {
  width: 100%;
  accent-color: #28a745;
}
.price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-weight: bold;
}


.thank-box {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}



.carousel-item img{
  width: 100%;
}

@media screen and (max-width: 767px){
  .price-box h4 {
    font-size: 46px;
}
  .describ-text {
    font-size: 22px;
    line-height: 32px;
}
  .price-text {
    font-size: 42px;
    line-height: 52px;
}
.lft-img{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.why-choose h3{
  text-align: left;
}
.why-choose h2{
  text-align: left;
}
.why-choose p{
  padding: 0 5px;
}
.why-btn{
  margin: 20px 0 0;
}
.review-area .bg-grey{
  margin-bottom: 30px;
}
.inner-banner{
  background: url(../assets/inner-banner-mob.jpg) top center no-repeat;
  background-size: 100%;
  padding: 40px 0;
}
.middle-sec .product-slide .slick-dots{
  position: inherit;
  bottom: -7px;
  margin-bottom: 40px;
  margin-top: 16px; 
}
.mob-gap{
  padding-left: 8px!important;
}

}



.filter-box {
  margin-bottom: 20px;
}

.filter-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-box ul {
  list-style: none;
  padding: 0;
}

.filter-box ul li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.price-filter .range-slider input {
  width: 100%;
}

.price-values {
  margin-top: 5px;
  font-weight: bold;
}

/* Toggle filter button (mobile only) */
.toggle-filter-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-filter-btn:hover {
  background-color: #0056b3;
}

/* Filter Panel Visibility */
.filter-panel {
  display: none; /* hidden by default on mobile */
}

/* Always visible on desktop */
@media (min-width: 768px) {
  .filter-panel {
    display: block !important;
  }
}

/* Show filter on mobile when toggled */
@media (max-width: 767px) {
  .filter-panel.mobile-visible {
    display: block;
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}








